version: '3.8'

services:
  api:
    build: .
    container_name: credit-risk-api
    ports:
      - "8000:8000"
    volumes:
      - ./models:/app/models
    environment:
      - MODEL_PATH=/app/models/best_model.pkl
